* {
    box-sizing: border-box;
}



/* Общее */
.a {
    display: block;
}

.b {
    display: none;
}

body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin: 0;
    color: white;
}

.container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

a {
    text-decoration: none; 
    color: #fff;
}

.main__container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: 0 30px;
}



/* Шапка */

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.2);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header__links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.header__link {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.03em;
}

header li {
    list-style-type: none;
    font-weight: 400;
}



/* Приветственная секция */

.welcome {
    height: 1000px;
    background-image: url(../img/Rectangle\ 1.svg);
    background-position: center;
    background-size: cover;
}

.welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 150px;
    min-height: 1000px;
    max-width: 1380px;
}

.welcome__text1 {
    font-size: 120px;
    text-align: center;
    line-height: 100%;
    letter-spacing: -0.03em;
}

.welcome__text2 {
    font-size: 24px;
    text-align: center;
    line-height: 125%;
    letter-spacing: -1px;
    font-weight: 300;
    margin-bottom: 40px;
}



/* Карточки с парами */

.cards {
    margin-top: 120px;
}

.cards__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.cards .container {
    margin: 0;
}

.cards__one, 
.cards__two {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 678px;
    height: 640px;
    border-radius: 24px;
    padding: 30px;
}

.cards__one {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/couple.jpg);
    background-size: cover;
    background-position: center;
}

.cards__two {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/couple2.jpg);
    background-size: cover;
    background-position: center;
}

.cards__text {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: -0.04em;
    max-width: 600px;
}

.more {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.cards__more {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.04em;
}



/* Overview */

.overview {
    display: flex;
    min-height: 640px;
    padding: 60px;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/heart.jpg);
    background-size: 190%;
    background-position: 35% 5%;
}


.overview__text {
    max-width: 1030px;
    font-size: 48px;
    line-height: 125%;
    margin: 0;
}



/* Помощь карточки */

.support {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
}

.support__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 24px;
    padding: 30px;
    height: 400px;
    width: 438px;
}

.support__card p {
    margin: 0;
    color: black;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.04em;
}

.support__card img {
    height: 40px;
    width: 40px;
}



/* Черный квадрат */

.choise h1 {
    color: black;
    font-size: 64px;
    letter-spacing: -0.03em;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
}

.choise__container__out {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 24px;
    padding: 60px;
    height: 800px;
    text-align: center;
}

.choise__container__into {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.choise h2 {
    font-size: 48px;
    letter-spacing: -1.6px;
    font-weight: 400;
    margin: 0;
}

.choise li {
    background-color: white;
    color: black;
    width: 214px;
    padding-top: 12px;
    padding-right: 65px;
    padding-bottom: 12px;
    padding-left: 65px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.8px;
    font-weight: 400;
}

.choise ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
}



/* Не медлите */

.go {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/heart2.jfif);
    border-radius: 24px;
    background-position: center;
    background-size: cover;
    padding: 60px;
}

.go p {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 0;
    max-width: 1020px;
}

.go button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 12px 65px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.04em;
}



/* Вопрос-ответ */

.questions {
    color: black;
    padding: 30px;
}

.questions h2 {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -2px;
    height: 70px;
    font-weight: 400;
    margin: 0;
}

.question {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.6px;
    height: 40px;
}

.answer {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    height: 40px;
    font-weight: 300;
}



/* Футер */

footer {
    background-color: #F3F3F3;
    height: 130px;
    padding: 30px;
    width: 100vw;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer__left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer li {
    list-style-type: none;
    color: #7d7d7d;
    font-size: 14px;
    letter-spacing: -0.03em;
}

@media screen and (max-width: 768px) and (min-width: 651px) {
    
    .welcome {
        min-height: 1124px;
    }

    .welcome .container {
        min-height: 1124px;
        gap: 125px;
    }

    .welcome__text2 {
        padding: 0 10px;
    }
    
    .overview {
        background: black;
        min-height: 830px;
    }

    .support__card {
        width: auto;
    }

    .a {
        display: none;
    }

    .b {
        display: block;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .footer__img {
        display: none;
    }

    .footer ul {
        gap: 30px;
    }
}

@media screen and (max-width: 650px) {

    .header__support {
        display: none;
    }

    .main__container {
        margin: 0 15px;
        gap: 65px;
    }

    .welcome {
        height: 568px;
        background-image: url(../img/Rectangle_1_mobile.svg);
        background-position: top;
        background-size: 360%;
    }

    .welcome .container {
        min-height: 568px;
        gap: 125px;

    }

    .welcome__text1 {
        font-size: 36px;
        margin: 0;
    }

    .welcome__text2 {
        font-size: 18px;
    }

    .cards {
        margin-top: 65px;
    }
    .cards__one,
    .cards__two {
        max-height: 320px;
        padding: 16px;
    }

    .more {
        display: none;
    }

    .cards__text {
        font-size: 18px;
        line-height: 144%;
        margin: 0;
        font-weight: 400;
        letter-spacing: -0.03em;
    }

    .overview {
        background: black;
        min-height: 400px;
        padding: 16px;
    }

    .overview__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        letter-spacing: -0.03em;
        max-height: 180px;
    }

    .support__card {
        padding: 16px;
        height: 320px;
    }

    .support__card p {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        letter-spacing: -0.03em;
    }

    .choise h1 {
        font-size: 36px;
        line-height: 111%;
        letter-spacing: -0.04em;
    }

    .choise__container__out {
        height: 400px;
        padding: 16px;
    }

    .choise ul {
        flex-direction: column;
        gap: 15px;
    }

    .choise li {
        width: 255px;
    }
    .choise h2 {
        font-size: 24px;
    }

    .go {
        height: 400px;
    }

    .go p {
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.04em;
        text-align: center;
    }

    .go button {
        width: 255px;
        height: 55px;
    }

    .questions {
        padding: 15px;
    }

    .questions h2 {
        font-size: 36px;
        line-height: 111%;
        letter-spacing: -0.04em;
    }

    .questions p {
        font-size: 24px;
    }

    .answer {
        display: none;
    }

    .footer__left, 
    .footer__right {
        display: none;
    }

    .footer ul {
        justify-content: center;
    }
}