.section1 {
    width: auto;
    height: 1000px;
    background-image: url(../img/Rectangle\ 1.svg);
    background-position: center;
    border-radius: 24px;
}

.section1 p {
    color: white;
}

.card1 {
    width: 678px;
    height: 640px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/couple.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
}

.card1 p {
    color: white;
}

.card2 {
    width: 678px;
    height: 640px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/couple2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
}

.card2 p {
    color: white;
}

.section3 {
    width: auto;
    height: 640px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/heart.jfif);
    border-radius: 24px;
    background-position: right 70% top 10%;
}

.section3 p {
    color: white;
}

.section6 {
    width: auto;
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/heart2.jfif);
    border-radius: 24px;
    background-position: center;
    background-size: contain;
}

.section6 p {
    color: white;
}